:root {
    --white: #ffffff;
    --grey: #f8f9fa;
    --dark: #63676b;
    --counterart: 0;
    --shade1: #7ba0e5;
    --shade2: #e1e7ff;
    --shade3: #0a369d;
    --shade4: #435d99;
    --shade5: #0f2a6b;
    --shade6: #f6f6f6;
    --indexCircle: 10px;
    --highlight1: #B7CBF1;
    --highlight2: #B7CBF1;
    --highlight3: #93B1EA;
    --highlight4: #B7CBF1;
    --highlight5: #93B1EA;
    --highlight6: #93B1EA;
    --highlight7: #7BA0E5;
    --sidepanelWidth: 50%;
    --sidepanelArticlesHeight: 360px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    background-color: var(--grey);
    color: #343a40;
    line-height: 1.9;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: left;
}

.sideviewContainer {
    display: none;
    width: var(--sidepanelWidth);
    height: 100%;
    position: fixed;
    margin-left: calc(100% - var(--sidepanelWidth));
    padding: 10px 50px 50px 50px;

    background-color: #fafafa;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Style of the content that is hidden by default */
.content {
    padding: 0.3em;
    background-color: var(--shade1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    height: 100%;
    flex-direction: column;
    overflow: scroll;
}

/*set scrollbar corner color to transparant */
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

.sidepanelfooter {
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    bottom: 5%;
    position: absolute;
}


/* adds scrollbar for sideview articles that are too long */
#articlescontainer ol {
    max-height: calc(100vh - var(--sidepanelArticlesHeight));
    overflow: auto;
    padding: 5px;
}

/* adds scrollbar to main element (moves it to middle page) */
#main {
    max-height: 98vh;
    overflow: auto;
}

.contentContainer {
    width: 70%;
    margin: auto;
    text-align: left;
    /* padding: 2% 5% 5% 5%; */
    box-sizing: border-box;
}

/* new button */
.homepageButton {
    background-color: #4472CA;
    border: none;
    padding: 15px 15px;
    border-radius: 12px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
}

.homepageButton:hover {
    background-color: #bec9de;
    color: white;
}

.a-button {
    border-color: #4472ca;
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: var(--shade4);
}

.a-button:hover {
    color: #b0c4ea;
}

.sidepanel-button {
    border-color: #4472ca;
    border: solid;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: var(--shade4);
}

.sidepanel-button:hover {
    color: #b0c4ea;
}

.button {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 0.1em;
    color: white;
}

.button2 {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 0.1em;
    color: white;
}


.filterbox {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: var(--shade3);
    text-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.filterbox2 {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: var(--shade3);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: underline;
}

.filterbox3 {
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: var(--shade3);
    text-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.UIbutton {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
}

.UIbutton:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

button.link {
    background: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}

h0 {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    color: var(--shade3);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h1 {
    display: block;
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
    color: var(--shade3);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h1.list-title {
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2 {
    display: block;
    margin-top: 1em;
    font-size: 17px;
    font-weight: bold;
    color: var(--shade4);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    display: inline;
    margin-top: 0em;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    color: var(--shade4);
}


checklist {
    display: inline;
    margin-top: 0em;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
}

.counterText {
    border: none;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #0A369D;
    text-align: center;
}

label {
    font-size: 13px;
}

.logo {
    text-align: right;
    display: inline-block;
}

/* highlight consument */
highlight1 {
    background-color: var(--highlight1);
    color: black;

}

/* highlight energie leverancier*/
highlight2 {
    background-color: var(--highlight2);
    color: black;

}

/* highlight consument + energie leverancier */
highlight3 {
    background-color: var(--highlight3);
    color: black;

}

/* highlight netbeheerder */
highlight4 {
    background-color: var(--highlight4);
    color: black;

}

/* highlight netbeheerder + consument */
highlight5 {
    background-color: var(--highlight5);
    color: black;

}

/* highlight netbeheerder + energieleverancier */
highlight6 {
    background-color: var(--highlight6);
    color: black;

}

/* highlight consument + netbeheerder + energieleverancier */
highlight7 {
    background-color: var(--highlight7);
    color: black;

}

.footer {
    font-size: 35px;
    font-weight: bold;
    display: block;
    background-color: var(--white);
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    width: 150px;
    height: 60px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}


/* legal list style */
.legal-list {
    counter-reset: section var(--counterart);
}

/* for sub-header */
.legal-list h1:before {
    content: "Artikel " counter(section) " ";
    margin: 0 1em 0 0;
}

.legal-list ol {
    counter-reset: clause;
    list-style: none;
    margin: 0;
    padding: 2px;
}

.legal-list ol li {
    counter-increment: clause;
    list-style-position: inside;
    padding-left: 40px;
    position: relative;

}

.legal-list ol li:before {
    content: counter(section) "." counters(clause, ".") " ";
    left: 0;
    position: absolute;
    top: 0;
}

.legal-list ol li ol li {
    list-style: none;
    list-style-position: inside;
    padding-left: 20px;
    position: relative;
}

.legal-list ol li ol li:before {
    content: " - ";
    left: 0;
    position: absolute;
    top: 0;
}

/* flexbox */

* {
    box-sizing: border-box;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    flex-direction: row;
}

.flex-container.normal {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    flex-direction: row;
}

.flex-container.graphicIndex {
    background-color: var(--shade4);
}

.flex-container.graphicIndex.second-block {
    background-color: var(--shade5);
}


.flex-item {
}

.flex-item.a {
    padding: 10px;
    flex: 30%;

}

.flex-item.b {
    padding: 5px;
    flex: 25%;
    text-align: left;
}

.flex-item.cat {
    padding: 5px;
    text-align: left;
    min-width: 150px;
}

/* Responsive layout - for mobile */
@media (max-width: 1200px) {
    .flex-item.a {
        flex: 100%;
    }

    .flex-item.b {
        flex: 100%;
    }

    .contentContainer {
        width: 90%;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/*----------- graphical index------------- */
/* https://codepen.io/mo7amedk7alid29/pen/dRoMwo */

.box {
    margin: 0 0%;
    padding: 25px 100px 25px 100px;
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.box ul:last-of-type {
    top: 10px
}

.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 27px;
    background: white;
}

.box ul li {
    margin: 20px 60px 20px;
    position: relative;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    width: 100%;
    max-width: 400px;
}


.box ul li > span {
    top: 50%;
    position: absolute;
    left: -30px;
}

.box ul li > span:before {
    content: "";
    width: 27px;
    display: block;
    height: 100%;
    border: 1px dashed #fff;
    background: white;
    top: -2px;
    position: absolute;
}

.box ul li > span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--shade2);
    border: 1px solid #fff;
    position: absolute;
    left: -7.5px;
    top: -6px;

}

.box .title {
    font-weight: 700;
    margin-bottom: 5px
}

.box .btn-panel {
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}

.box .time span {
    position: absolute;
    text-align: right;
    left: -150px;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    width: 100px;
    top: 20px;
}

/* */
.main-container-style {
    border-radius: 25px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.btn {
    margin: 5px;
}

.card {
    border: 1px solid var(--shade2);
    margin: 5px;
}

.card.main-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    border-radius: 15px;
    border: 0px;
    padding: 20px 20px 20px 20px;
}

.card.filter-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    border-radius: 15px;
    border: 0px;
    padding: 15px 15px 15px 15px;
}

.card-header {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 0.05);
    border: 0px;
    padding: 1em;
}


card-header-title {
    display: block;
    margin-top: 0.5em;
    font-size: 17px;
    color: var(--shade4);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.bi {
    vertical-align: text-bottom;
}

.btn-primary {
    background-color: var(--shade1);
    border-color: var(--shade1);
    border-radius: 25px;
}

.navbar {
    padding: 0px 30px 0px 30px;
    align-items: baseline;
}

/*For showing hover on the 'tijdlijn' items */
.showhover:hover {
    cursor: pointer;
}

.toggle-control {

    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-control input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control.consument input:checked ~ .control {
    background-color: #93B1EA;
}

.toggle-control.energie_leverancier input:checked ~ .control {
    background-color: #93B1EA;
}

.toggle-control.netbeheerder input:checked ~ .control {
    background-color: #93B1EA;
}

.toggle-control.original input:checked ~ .control {
    background-color: var(--shade1);
}

.toggle-control input:checked ~ .control:after {
    left: 17.5px;
}

.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 45px;
    border-radius: 25px;
    background-color: lightgrey;
    transition: background-color 0.20s ease-in;
}

.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-image: url("/assets/close.png");
    background: white;
    transition: left 0.20s ease-in;

}

a.hyperlink-style {
    color: var(--shade4);
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

a.hyperlink-style:link {
    color: var(--shade4);
    text-decoration: none;;
    padding: 2px;
}

a.hyperlink-style:hover {
    text-decoration: underline;
}
