:root {
    --white: #ffffff;
    --dark: #2b2f32;
    --counterart: 0;
    --shade1: #7ba0e5;
    --shade2: #e1e7ff;
    --shade3: #0a369d;
    --shade4: #435d99;
    --shade5: #0f2a6b;
    --shade6: #f6f6f6;

    --indexCircle: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: left;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.sideviewContainer {
    display: none;
    width: 40%;
    height: 100%;
    position: fixed;
    margin-left: 60%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    background-color: #fafafa;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* The next three parts belong to the expandable buttons */
.collapsible {
    background: var(--shade2);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    color: var(--shade3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }

  /* background color when mouse is hovered over the button */
  .active, .collapsible:hover {
    background-color:var(--shade1);
  }

  /* Style of the content that is hidden by default */
  .content {
    padding: 0.3em;
    background-color:var(--shade1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    height: 100%;
    flex-direction: column;
    overflow: scroll;
  }
  /*set scrollbar corner color to transparant */
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

  /*Symbol at right side of the buttton when it is collapsed */
  .collapsible:after {
    content: '\2795';
    font-size: 9px;
    color: white;
    float: right;
    margin-left: 5px;
    margin-top: 4px;
  }

  /*Symbol at right side of the button when it is expanded */
  .active:after {
    content: "\2796";
  }

.sidepanelfooter {
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    bottom: 5%;
    position: absolute;
}


/* adds scrollbar for sideview articles that are too long */
#articlescontainer ol {
    max-height: calc(100vh - 200px - 100px);
    overflow: auto;
}

/* adds scrollbar to main element (moves it to middle page) */
#main {
    max-height: 98vh;
    overflow: auto;
}

.contentContainer {
    width: 70%;
    margin: auto;
    text-align: left;
    padding: 2% 5% 5% 5%;
    box-sizing: border-box;
}

.header {
    font-size: 35px;
    font-weight: bold;
    display: block;
    background-color: var(--shade5);
    color: white;
    padding: 5% 20% 5% 20%;
    text-align: center;
    margin-top: -1rem;
}


/* new button */
.homepageButton {
    background-color: #4472CA;
    border: none;
    padding: 15px 15px;
    border-radius: 12px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
}

.homepageButton:hover {
    background-color: #bec9de;
    color: white;
}

.a-button {
    border-color: #4472ca;
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: var(--shade4);
}

.a-button:hover {
    color: #b0c4ea;
}

.sidepanel-button {
    border-color: #4472ca;
    border: solid;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: var(--shade4);
}

.sidepanel-button:hover {
    color: #b0c4ea;
}

.button {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 0.1em;
    color: white;
}


.button2 {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 0.1em;
    color: white;
}

.filterbox {
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1px 1px;
    margin-top: 1em;
    background-color: var(--shade1);
    color: white;
}

.UIbutton {
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
}

.UIbutton:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

button.link {
    background: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}

h0 {
    display: block;
    margin-top: 1em;
    font-size: 15px;
    font-weight: bold;
    color: var(--shade3);
    text-align: left;
}

h1 {
    display: block;
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
    color: var(--shade3);
    text-align: left;
}
h1.list-title {
    color: white;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
}

h2 {
    display: block;
    margin-top: 1em;
    font-size: 17px;
    font-weight: bold;
    color: var(--shade4);
    text-align: left;
}

h3 {
    display: inline;
    margin-top: 0em;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

checklist {
    display: inline;
    margin-top: 0em;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.counterText {
    border: none;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #0A369D;
    text-align: center;
}

label {
    font-size: 13px;
}
.logo {
    text-align: right;
    display: inline-block;
}

highlight {
    background-color: var(--shade2);
    color: black;
}

/* legal list style */
.legal-list {
    counter-reset: section var(--counterart);
}

.legal-list h1:before {
    content: "Artikel " counter(section) " ";
    margin: 0 0.5em 0 0;
}

.legal-list ol {
    counter-reset: clause;
    list-style: none outside none;
    text-indent: -2.2em;
}

.legal-list ol li {
    counter-increment: clause;
}

.legal-list ol li:before {
    content: counter(section) "." counters(clause, ".") " ";
    margin: 0 0.5em 0 0;
}

.legal-list ol li ol li {
    list-style: none;
}

.legal-list ol li ol li:before {
    content: " - "
}

/* flexbox */

* {
    box-sizing: border-box;
}

.flex-container.normal {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    flex-direction: row;
}

.flex-container.graphicIndex {
    background-color: var(--shade4);
}
.flex-container.graphicIndex.second-block {
    background-color: var(--shade5);
}


.flex-item {
}

.flex-item.a {
    padding: 10px;
    flex: 30%;

}

.flex-item.b {
    padding: 5px;
    flex: 25%;
    text-align: left;
}

.flex-item.cat {
    padding: 5px;
    text-align: left;
    min-width: 150px;
}

/* Responsive layout - for mobile */
@media (max-width: 800px) {
    .flex-item.a {
        flex: 100%;
    }

    .flex-item.b {
        flex: 100%;
    }

    .contentContainer {
        width: 90%;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/*----------- graphical index------------- */
/* https://codepen.io/mo7amedk7alid29/pen/dRoMwo */

.box {
    margin: 0 0%;
    padding: 25px 100px 25px 100px;
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.box ul:last-of-type {
    top: 10px
}

.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 27px
}

.box ul li {
    margin: 20px 60px 20px;
    position: relative;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    width: 100%;
    max-width: 400px;
}


.box ul li > span {
    top: 50%;
    position: absolute;
    left: -30px;
}
.box ul li > span:before {
    content: "";
    width: 27px;
    display: block;
    height: 100%;
    border: 1px dashed #fff;
    position: absolute;
}
.box ul li > span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--shade2);
    border: 2px solid #fff;
    position: absolute;
    left: -7.5px;
    top: -6px;

}

.box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .btn-panel {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}

.box .time span {
    position: absolute;
    left: -100px;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
}

