:root {
    --colorbright: #4472CA;
    --white: #ffffff;
    --counterart: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}

.sideviewContainer {
    display: none;
    width: 40%;
    height: 100%;
    position: fixed;
    margin-left: 60%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    border-left-width: 0.2px;
    border-left-style: solid;
}

.contentContainer {
    width: 60%;
    margin: auto;
    text-align: left;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
}

.button {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
}

.buttonN {
    background-color: #606060;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    position: absolute;
}


button.link {
    background: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}

h0 {
    display: block;
    margin-top: 1em;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    display: block;
    margin-top: 1em;
    font-size: 19px;
    font-weight: bold;
    color: var(--colorbright);
}

.header {
    font-size: 30px;
    font-weight: bold;
    display: block;
    background-color: var(--colorbright);
    color: white;
    padding: 25px 25px 25px 25px;
}

highlight {
    background-color: yellow;
    color: black;
}

/* legal list style */
.legal-list {
    counter-reset: section var(--counterart);
}

.legal-list h1:before {
    content: "Artikel " counter(section) " ";
    margin: 0 0.5em 0 0;
}

.legal-list ol {
    counter-reset: clause;
    list-style: none outside none;
    text-indent: -2em;
}

.legal-list ol li {
    counter-increment: clause;
}

.legal-list ol li:before {
    content: counter(section) "." counters(clause, ".") " ";
    margin: 0 0.5em 0 0;
}

.legal-list ol li ol li {
    list-style: none;
}

.legal-list ol li ol li:before {
    content: " - "
}